/* Global Styles */
:root {
    /* Font Settings */
    --font-family: 'Onest', Helvetica, Arial, sans-serif;
    --font-display: fallback;
    --text-color: rgb(50, 50, 50);
    --base-font-size: 20px;
    --base-font-weight: 600;
    --base-font-size-large: 96px;
    --base-font-weight-large: 700;
    --base-font-size-fallback: 24px;
    --base-font-weight-fallback: 600;

    /* Transition Effects */
    --transition: font-size 0.5s ease-in-out,
            background-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;
}

* {
    font-family: var(--font-family);
    font-display: var(--font-display);
    color: var(--text-color);
    transition: var(--transition);
}

@media (max-width: 68em) {
    :root {
        /* Font Settings */
        --base-font-size: 16px;
        --base-font-weight: 600;
        --base-font-size-large: 64px;
        --base-font-weight-large: 700;
    }
}

@media (max-height: 35em) {
    :root {
        /* Font Settings */
        --base-font-size: 14px;
        --base-font-weight: 600;
        --base-font-size-large: 40px;
        --base-font-weight-large: 700;
    }
}

@media (max-height: 25em) {
    :root {
        /* Font Settings */
        --base-font-size: 13px;
        --base-font-weight: 600;
        --base-font-size-large: 20px;
        --base-font-weight-large: 700;
    }
}