@import url("main.css");

body {
    display: grid;
    grid-template-rows: [header] auto [main] 1fr [footer] auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    background-color: var(--primary-color);
    margin: 0;
    min-height: 100vh;
}

header {
    grid-area: header;
}

nav,footer {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    right: 0;
    left: 0;
    
    padding-right: 2rem;
    padding-left: 2rem;

    h1 {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        font-weight: var(--font-weight-large, var(--font-weight-fallback));
        font-size: var(--font-size-navigation, var(--font-size-fallback));
    }
}

nav {
    a:hover {
        color: var(--hover-color);
    }
    position: fixed;
    top: 0;
    background-color: var(--tertiary-color);
    height: 4rem;
    margin-bottom: 0;

    h1 {
        padding-left: .5em;
        padding-right: .5em;

        a {
            text-overflow: ellipsis;
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    img {
        display: none;
        margin: auto;
        max-width: 1.5rem;
    }

    ul {
        display: flex;
        li {
            display: block;

            &:hover {
                transform: scale(1.1);
            }

            a {
                display: block;
                text-decoration: none;
                font-weight: var(--font-weight-navigation, var(--font-weight-fallback));
                font-size: var(--font-size-navigation, var(--font-size-fallback));
                padding-left: .5em;
                padding-right: .5em;
            }
        }
    }
}

footer {
    grid-area: footer;
    bottom: 0;
    height: 8rem;
    background-color: var(--contrast-color);

    h1, p {
        padding-left: .5em;
        padding-right: .5em;
        color: var(--primary-color);
    }
}

main {
    margin-left: auto;
    margin-right: auto;
    grid-area: main;
    width: 64rem;
    padding-top: 4rem;

    h1 {
        font-weight: var(--font-weight-large, var(--base-font-weight-fallback));
        font-size: var(--font-size-large, var(--base-font-size-fallback));
    }

    p {
        font-weight: var(--font-weight-thin, var(--font-weight-fallback));
        font-size: var(--font-size, var(--bfont-size-fallback));
    }
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 2em;
    padding: 2em;

    background-color: var(--secondary-color);
    border-radius: var(--container-border-radius);
    
    --font-size-large: 48px;
}

.user-card {
    display: flex;
    flex-direction: row;

    img {
        flex-grow: 1;
        max-width: 15em;
        height: auto;
        border-radius: 50%;
    }

    section {
        text-align: center;
        flex-grow: 2;
        margin: 1em;
    }
}

.maintenance-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    
    --font-size-large: 48px;

    flex-direction: column;
    h1, p {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    a {
        margin-top: 2em;
        margin-bottom: .5em;
    }

    img {
        max-width: 4em;
        height: auto;
    }

    a {
        display: block;
        border-radius: var(--button-border-radius);
        padding: .5em 2em .5em 2em;
        text-decoration: none;
        color: var(--primary-color);
        background-color: var(--contrast-color);
        font-weight: bold;

        &:hover {
            background-color: var(--hover-color);
            color: var(--tertiary-color);
        }
    }
}

/* Tablet Screen Size */
@media (max-width: 64rem) {
    main {
            width: 48rem;
    }
}

/* Phone Screen Size */
@media (max-width: 48rem) {
    body {
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";

    }
    main {
        width: auto;

        section {
            flex-grow: 1;
        }
    }

    .user-card {
        flex-direction: column;
    }

    nav {
        img {
            display: block;
        }

        ul {
            display: none;
        }
    }
}